<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <pre>{{messages | json}}</pre>

  <ion-list *ngIf="pricesList">
    <ion-item-sliding *ngFor="let item of coinItems">
      <ion-item ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="baseImageUrl + item.ImageUrl" />
        </ion-avatar>
        <h2>{{item.Name}}</h2>
        <p>{{item.FullName}}</p>
        <ion-note item-end class="ion-note-styled">
          <p>{{showPrice(item.Symbol)}}</p>
          <p class="note-gather" [ngClass]="{'up': getChange(item.Symbol) > 0, 'down': getChange(item.Symbol) < 0}">
            {{getChange(item.Symbol) + '%'}}
          </p>
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
