<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <!-- <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title> -->

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <pre>{{messages | json}}</pre>

  <ion-list *ngIf="pricesList">
    <ion-item-sliding *ngFor="let item of coinItems">
      <ion-item ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="baseImageUrl + item.ImageUrl" />
        </ion-avatar>
        <h2>{{item.Name}}</h2>
        <p>{{item.FullName}}</p>
        <ion-note item-end class="ion-note-styled">
          <p>{{showPrice(item.Symbol)}}</p>
          <p class="note-gather" [ngClass]="{'up': getChange(item.Symbol) > 0, 'down': getChange(item.Symbol) < 0}">
            {{getChange(item.Symbol) + '%'}}
          </p>
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button class="slided-button" ion-button color="primary" [class.added]="checkList('FAVOR_LIST', item)" (click)="addToList('FAVOR_LIST', item)">
          <ion-icon name="star"></ion-icon>
        </button>
        <button class="slided-button" ion-button color="secondary" [class.added]="checkList('NOTIFY_LIST', item)" (click)="addToList('NOTIFY_LIST', item)">
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
