page-list-master {
  .note-gather {
    &.up {
      color: #2ec95c;
    }
    &.down {
      color: #f30d0d;
    }
  }
  .note {
    width: 30%;
  }
 ion-item-options {
    .slided-button {
        &.added {
          color: #ff0000;
        }
        ion-icon.icon {
          padding: 0 10px !important;
          font-size: 30px;
        }
      }
    }
}
